*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
}

.alert-info{
    background-color: #ccfffe;
    border: 1px solid #bfbfbf;
    display: flex;
    height: 5%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 5%;
    width: 50%;
}
.alert-info>a{
    text-decoration: none;
    color: black;
    padding: .5em;


}
.hidden-on-desktop{

}
.nav-links>a{

    /*background-color: grey;*/
}
.nav-links{

}
li{
    margin:.5em;
    list-style-type: none;
    width: 50vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
ul{
    width: 50%;
    height: 5%;
}
ul.nav-links li{
    background-color:#cccccc;

}
{}
.header-img{

}
.main{

}
.sub-section{

}
#social-media-links{

}









@media screen and (min-width: 1200px){

}