*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
}

.alert-info{
    background-color: #ccfffe;
    border: 1px solid #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 7%;
    width: 50%;
}
.alert-info>a{
    text-decoration: none;
    color: black;
    padding: .5em;
}
img{
    height: 28vh;
    width: 50vw;
}
.hidden-on-desktop{

}
li{
    margin:.5em;
    list-style-type: none;
    width: 50vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    width: 50%;
    height: 5%;
}
ul.nav-links li{
    background-color:#cccccc;
}

.main{
display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;

}
.sub-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
}
footer{
display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 50vw;

}
#social-media-links{
    font-size:1.3em;
    padding: .5em;

}








@media screen and (min-width: 1200px){

}