*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #878484;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.alert-info{
    background-color: #ccfffe;
    border: 1px solid #bfbfbf;
    display: flex;
    height: 5%;
    justify-content: center;
    align-items: center;
    /*padding: auto;*/
}
.alert-info>a{
    text-decoration: none;
    color: black;
}
.hidden-on-desktop{

}
.nav-links>a{
    /*background-color: grey;*/
}
li{
    /*background-color: grey;*/
}
.header-img{

}
.main{

}
.sub-section{

}
#social-media-links{

}









@media screen and (min-width: 1200px){

}